
#navBar {
    background-color: black;
    color: whitesmoke;
}
body {
    background-image: url(../images/spiration-light.png);
}

#social {
    width: 60%;
    height: auto;
}

footer {
    margin-top: 15px;
    padding-top: 15px;
    text-align: center;
    background-color: black;
    color: whitesmoke;
}

/*Media Query*/

@media only screen and (max-width: 980px) {
    #connectPan {
        width: 80%;
        margin-top: 20px;
    }
    #social {
        width: 40%;
        height: auto;
    }
    #portfolioPic {
        width: 30%;
        height: auto;
    }

}

